.cart{
  width: 100%;
  display: flex;
}
.cart-shoppingList{
  width: 60%;
}
.cart-shoppingList__title{
  margin-left: 8%; 
}


.cart-formalization{
  margin: 34px 0px;
  margin-left: 2%;  
  width: 28%;
  height: 400px;
  
  color: white;

  background-color: rgb(17, 17, 17);
}
  .cart-formalization > div{
    margin-left: 5%;
    margin-top: 4%;
  }
.cart-formalization__info{
  display: inline-block;
  width: 74%;
}
.cart-formalization__intermediatePrice{
  font-size: 20px;
} 
    .cart-formalization > div:last-of-type{
      margin-top: 30px; 
      margin-bottom: 30px; 
    } 
  .cart-formalization > button{
    display: block;
    width: 86%;
    height: 40px;
    margin: 20px auto;
    border-radius: 3px;

    color: white;
    text-align: center;
    
    border: none;
    outline: none;
    border-radius: 3px;

    background-color: rgb(250, 84, 0);
  }
    .cart-formalization > button:last-of-type{
      background-color: white;
    }
    .cart-formalization > button:hover{
      cursor: pointer;
    }
    .cart-formalization > button:not(:last-of-type):hover{
      background-color: #F4A460;
    }
  button > span{
    width: 10px;
  }